---
import Separator from "@components/Separator.astro";

const ABOUT_ELEMENTS = [
    {
        label: "Terms",
        href: "https://stockx.com/terms"
    },
    {
        label: "Privacy",
        href: "https://stockx.com/privacy"
    },
    {
        label: "YourPrivacyChoices",
        href: "https://stockx.com/privacy-choices"
    },
    
]
const LANGUAGES = [
    {
        label: "English (US)",
        href: "https://stockx.com"
        
    },
    {
        label: "English (UK)",
        href: "https://stockx.com"
    },
    {
        label: "Italiano",
        href: "https://stockx.com"
    },
    {
        label: "Deutsch",
        href: "https://stockx.com"
    },
    {
        label: "Français(FR)",
        href: "https://stockx.com"
    },
    {
        label: "简体中文",
        href: "https://stockx.com"
    },
    {
        label: "繁體中文",
        href: "https://stockx.com"
    },
    {
        label: "日本語",
        href: "https://stockx.com"
    },
    {
        label: "한국어",
        href: "https://stockx.com"
    },
    {
        label: "Español(MX)",
        href: "https://stockx.com"
    },
    {
        label: "Español(US)",
        href: "https://stockx.com"
    },
    {
        label: "Español(ES)",
        href: "https://stockx.com"
    }
    

]


---


<footer class="flex flex-col bg-white p-4 text-black">
    <div class="flex items-center justify-around">
        <div class="rounded-full border border-black px-6 py-1.5 flex items-center gap-x-3 font-medium text-lg cursor-pointer transition duration-300 hover:bg-black hover:text-white ">
            <p>Spain</p>
            <Separator class="mb-1" />
            <p>English</p>
            <Separator class="mb-1" />
            <p>€ EUR</p>
        </div>
        <div class="flex items-center gap-x-3">
            <p>X</p>
            <p>F</p>
            <p>I</p>
            <p>Y</p>
        </div>
        <ul class="flex items-center gap-x-3">
            {ABOUT_ELEMENTS.map(({label, href}) => (
                <li>
                    <a href={href} class="text-black text-xs">
                        {label}
                    </a>
                </li>
            ))}

        </ul>
        
    </div>
    <div class="text-xs p-4">
        <ul class="flex items-center gap-x-3 justify-center">
            {LANGUAGES.map(({label, href}) => (
                <li>
                    <a href={href}>
                        {label}
                    </a>
                </li>
            ))}

    </div>
</footer>


<script>

    document.addEventListener('DOMContentLoaded', () => {
        const currentYear = new Date().getFullYear();
        const footer = document.querySelector('footer');
        const ul = footer?.querySelector('ul');
        const li = document.createElement('li');
        const a = document.createElement('a');
        a.href = "https://stockx.com/news";
        a.textContent = `©${currentYear} StockX. All Rights Reserved`;
        a.classList.add('text-black', 'text-xs');
        li.appendChild(a);
        ul?.appendChild(li);

    });

</script>
